<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>TrendWave-Ride the Wave of Trends</title>
</head>
<style>
    .offcanvas-body a {
        text-decoration: none;
    }

    div.text-white {
        padding: 100px 20px;
    }
    form input.form-control-borderless:active{
        box-shadow: inset;
    }
    form input.form-control-borderless:hover{
        border: #333;
        outline: auto;
        box-shadow: 2px;
    }
    form input.form-control-borderless:focus{
        border: saddlebrown;
        outline: auto;
        box-shadow: none;
    }
    #searchBtn{
        align-items: center;
        width: auto;
        height: 30px;
    }
    form#myform{
        visibility: hidden;
        position: fixed;
    }
    form#myOtherForm{
        visibility: hidden;
    }
    div#welcome{
        position: sticky;
        padding-bottom: 2px;
    }
    ul#myList{
        padding-bottom: 2px;
        width: 100%;
        margin: 0;
    }
    .modal {
    z-index: 1050; /* Ensure modal appears above other elements */
    }
    .modal-backdrop {
    display: none; /* Hide the backdrop to allow interaction with elements behind the modal */
    }
    .navbar-brand h1, h2, h3{
            font-family: 'Bree Serif', serif;
            color: #333; 
    }
    /* CSS for desktop screens */
    @media (min-width: 992px) {
    .navbar hr {
        display: block; /* Show the line */
    }
    #toggler_icon{
        display: none;
    }
   }
   /* CSS for smaller screens */
   @media (max-width: 991px) {
    .navbar hr {
        display: none; /* Hide the line */
    }
    #toggler_icon{
        display: block;
    }
   }
</style>

<body>
    {% block content %}
    <div class="navbar navbar-expand-sm bg-light  navabr-light fixed-top py-0" id="navId" >
        <div class="container-fluid">
            <a href="#canvas1" data-bs-target="#canvas1" data-bs-toggle="offcanvas" class="text-decoration-none text-dark" id="toggler_icon"><span class="navbar-toggler-icon"></span></a>
            <a href="{% url 'homepage' %}" class="navbar-brand d-none d-sm-block d-sm-none d-md-block">
            <h1>TrendWave</h1></a>
            <a href="{% url 'homepage' %}" class="navbar-brand d-block d-sm-none"><h3>TrendWave</h3></a>
            <a href="{% url 'homepage' %}" class="navbar-brand d-none d-sm-block d-md-none"><h3>TrendWave</h3></a>
            <br>
            <!--for small devices-->
            <button type="button" id="searchBtn" class="border-0 d-block d-sm-none" onclick="showForm()">
                <i class="material-icons align-self-center" style="color: rgb(17, 17, 15);">&#xe8b6;</i></span></button>
            {% if user.is_authenticated %}
            {{ pass }}
            {% else %}    
            <div class="border-0 d-block d-sm-none">
                <a href="{% url 'signIn' %}" class="nav-link">
                    <button class="btn btn-danger" style="width: 100px;">
                        Log in
                    </button></a>
            </div>
            {% endif %}
            <br>  
            <!--for large devices i.e desktop, computer etc -->  
            <form action="{% url 'homepage' %}" class="d-flex d-none d-sm-none d-md-block" method="get">
                {% csrf_token %}
                <div class="input-group" style="width: 400px;">
                    <input type="text" name="q" placeholder="Search TrendWave..." id="inputBox"
                        class="form-control form-control-sm rounded-start" style="border-radius: 20px 0 0 20px;" required>
                    <button type="submit" class="btn btn-sm btn-secondary rounded-end" style="border-radius: 0 20px 20px 0;">
                        <i class="material-icon" style="color: goldenrod;">search</i>
                    </button>
                </div>
            </form>
            <br>
            <!--for medium devices-->
            <form action="{% url 'homepage' %}" class="d-flex d-none d-sm-block d-md-none justify-content-center" method="get"
                id="myOtherForm">
                {% csrf_token %}
                <div class="input-group" style="width: 400px;">
                    <input type="text" name="q" placeholder="Search TrendWave..." id="inputBox"
                        class="form-control form-control-sm rounded-start" style="border-radius: 20px 0 0 20px;" required>
                    <button type="submit" class="btn btn-sm btn-secondary rounded-end" style="border-radius: 0 20px 20px 0;">
                        <i class="material-icon" style="color: rgb(252, 186, 19);">search</i>
                    </button>
                </div>
            </form>
            <button id="searchBtn2" class="border-0 d-none d-sm-block d-md-none" onclick="searchHere()">
                <i class="material-icons align-self-center" style="color: rgb(253, 188, 23);">&#xe8b6;</i></span></button>
            {% if user.is_authenticated %}
            <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#userCanvas">
                <img src="{{ user_profile.profileimg.url }}" width="50px" height="50px" class="rounded-circle" alt="">
            </button>
            {% else %}
            <div class="d-none d-sm-block d-sm-none  d-md-block">
                <a href="{% url 'upload' %}" class="nav-link"><button class="btn btn-warning rounded-4" style="width: 150px;"><h5>+ Upload</h5></button></a>
            </div>
            <div class="d-none d-sm-block d-sm-none  d-md-block">
                <a href="{% url 'signIn' %}" class="nav-link">
                    <button class="btn btn-danger rounded-4" style="width: 150px;"><h5>Log in</h5></button></a>
            </div>
            {% endif %}
        </div>
        <hr style="margin: 0;">
    </div>
    </br>
    <br>
    <div id="welcome" class="mt-3">
         <ul class="nav bg-light justify-content-center pt-3 mx-auto align-items-center py-0" id="myList">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                <!--<span aria-hidden="true" >&times;</span>-->
            </button>
        </div>
        {% endfor %}
    <form action="{% url 'homepage' %}" class="d-flex d-block d-sm-none justify-content-center pt-3 mt-5" method="get" id="myform">
        {% csrf_token %}
        <div class="input-group" style="width: 300px;">
            <input type="text" name="q" placeholder="Search TrendWave..." id="inputBox"
                class="form-control form-control-sm rounded-start" style="border-radius: 20px 0 0 20px;" required>
            <button type="submit" class="btn btn-sm btn-secondary rounded-end" style="border-radius: 0 20px 20px 0;">
                <i class="material-icon" style="color: goldenrod;">search</i>
            </button>
        </div>
    </form>
    </ul>
    </div>
    <br>
    <!--offcanvas for pages -->
    <div class="offcanvas-container">
    <div class="offcanvas offcanvas-start" id="canvas1">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title">TrendWave</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <a href="/" class="nav-link pt-2"><button class="btn">
                <h5>Home</h5></button></a>
                <a href="#" class="nav-link pt-2"><button class="btn">
                <h5>Explore</h5></button></a>
                <a href="{% url 'following' %}" class="nav-link pt-2"><button class="btn">
                <h5>Following</h5></button></a>   
                <div class="collapse" id="support">
                <p>For any queries contact us via <a href="mailto:smemeshub@gmail.com" class="text-info">smemehub@gmail.com</a></p></div>
                <a href="{% url 'about' %}" class="nav-link pt-2"><button class="btn">
                <h5>About</h5></button></a>
                <a href="#discover" data-bs-toggle="collapse" class="nav-link pt-2"><button class="btn">
                <h5>Discover</h5></button></a>  
                <div class="collapse" id="discover">
                            <ul>
                                <li>
                                <h6>Work with US:<a href="mailto:omwagawilfred@gmail.com" class="text-info">Email Me<a><h6>
                                </li>
                                <li><h6><a href="{% url 'blogs' %}" class="" target="_blank">memehub-blogs</a></h6></li>
                            </ul>
                </div>       
                <ul class="navbar-toggler">
                    <hr>
                    <div class="d-block d-sm-none">
                        {% if user.is_authenticated %}
                        {{ pass}}
                        {% else %}
                        <a href="{% url 'upload' %}" class="nav-link"><button class="btn btn-warning" style="width: 100%;"><h4>+ Upload</h4></button></a>
                        <hr>
                        <a href="{% url 'signIn' %}" class="nav-link"><button class="btn btn-danger"
                        style="width: 100%;"><h4>Log in</h4></button></a>
                        {% endif %}
                    </div>
                    <div class="d-none d-sm-block d-md-none">
                        {% if user.is_authenticated %}
                        {{ pass }}
                        {% else %}
                        <a href="{% url 'upload' %}" class="nav-link"><button class="btn btn-warning" style="width: 100%;"><h4>+ Upload</h4></button></a>
                        <hr>
                        <a href="{% url 'signIn' %}" class="nav-link"><button class="btn btn-danger" style="width: 100%;"><h4>Log in</h4></button></a>
                        {% endif %}
                    </div>
                </ul>
            </ul>
        </div>
        <div class="offcanvas-footer">
            <p style="color: blueviolet;">Join theTrendWave Community. Explore a world of creativity, entertainment, and discovery as you scroll through our curated selection of trending topics. From viral challenges to the hottest memes, TrendWave keeps you in the loop with what's capturing the internet's attention right <code>now.</code></p>
        </div>
    </div>
    </div>
    <!--user requests offcanvas for user_profile -->
    <div class="offcanvas offcanvas-start" id="userCanvas">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title text-center">@{{ request.user.username }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-light">
            <div class="d-grid gap-2">
                <a href="{% url 'signOut' %}" class="nav-link pt-2"><button class="btn text-muted"><h6>Logout</h6></button></a>
                <a href="{% url 'upload' %}" class="nav-link pt-2"><button class="btn text-muted"><h6>+ Upload</h6></button><a>
                {% if request.user.username %}
                <a href="{% url 'profile' user_profile.user.username %}" class="nav-link pt-2"><button class="btn text-muted"><h6>Profile</h6></button></a>
                {% endif %}  
            </div>
        </div>
        <div class="offcanvas-footer">
            <button type="button" class="btn btn-danger float-end" style="width: 30%;" data-bs-dismiss="offcanvas">Close</button>
        </div>
    </div>
    {% endblock %}
</body>
<script>
    var a;
    let searchForm = document.querySelector('#myform');
    let body_content = document.querySelector('#contentId');
    let navbarId = document.querySelector('#navId');
    let following_content = document.querySelector("#following")
    function showForm(){
        if(a==1){
            searchForm.style.visibility = 'visible';
            body_content.style.visibility = 'hidden';
            navbarId.style.visibility = 'visible';
            return a=0;
        }else{
            searchForm.style.visibility = 'hidden';
            body_content.style.visibility = 'visible';
            return a=1;
        }
    }
    var b;
    let searchAgain = document.querySelector('#myOtherForm');
    function searchHere(){
        if(b==1){
            searchAgain.style.visibility = 'visible';
            return b=0;
        }else{
            searchAgain.style.visibility ='hidden';
            return b=1;
        }
    }
</script>
</html>