{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View and comment on this image on TrendWave. Share your thoughts, engage with other users, and stay updated with the latest trends.">
    <title>Image Detail | Comments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .card {
            background-color: rgb(19, 15, 15);
            color: rgb(173, 170, 170);
        }

        .list-group-item {
            background-color: rgb(19, 15, 15);
            color: rgb(173, 170, 170);
            border: 0;
        }

        .form-group {
            background-color: rgb(19, 15, 15);
        }

        .comment {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .comment.right {
            justify-content: flex-end;
        }

        .comment-text {
            max-width: 75%;
        }

        .comment-buttons {
            margin-left: 10px;
        }

        .reply {
            margin-left: 30px;
        }

        .reply-form {
            margin-left: 30px;
            margin-top: 10px;
        }

        .comment-container {
            margin-bottom: 10px;
        }

        .comment-container.right {
            text-align: right;
        }

        .comment-container.right .comment-text {
            text-align: left;
        }
         .reply-textarea {
            width: 100%;
            resize: vertical;
        }
        #user_comment_text{
            color: rgb(173, 170, 170);
        }

        @media (max-width: 576px) {
            .button-group {
                flex-direction: column;
            }

            .button-group button {
                width: 100%;
                margin-bottom: 10px;
            }

            .button-group button:last-child {
                margin-bottom: 0;
            }
        }
    </style>
</head>

<body class="bg-dark">
    <div id="contentId">
    {% include "base.html" %}
    <div class="container mt-5">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    {% if file.user.theprofile.profileimg %}
                    <div class="user-profile d-flex align-items-center mt-2 pt-2">
                        <a href="/profile/{{ file.user.username }}" class="me-2">
                        <img src="{{ file.user.theprofile.profileimg.url }}" class="rounded-circle" width="50px" height="50px" alt="user_profile_pic">
                        </a>
                        <a href="/profile/{{ file.user.username }}" class="text-decoration-none user-name">
                            <h3>@{{ file.user.username }}</h3>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        {% if file.file.url|is_image %}
                        <a href="{{ file.file.url }}"><img src="{{ file.file.url }}" alt="trendwave" class="img-fluid"></a>
                        {% elif file.file.url|is_video %}
                        <video class="card-img-top img-fluid" controls preload="metadata" autoplay muted>
                            <source src="{{ file.file.url }}" type="video/mp4">
                            <source src="{{ file.file.url }}" type="video/webm">
                            <track label="English" kind="captions" srclang="en" default>
                            <track label="Spanish" kind="captions" srclang="es">
                            Your browser does not support the video tag.
                        </video>
                        {% else %}
                        <p>Unsupported file type.</p>
                        {% endif %}
                        <p class="mt-3">{{ file.caption }}</p>
                        <small class="">{{ file.date }}</small>
                    </div>
                    {% endif %}
                </div>
                <div class="comments-section mt-4">
                    <h4 class="text-left text-secondary">Comments</h4>
                    <ul class="list-group">
                        {% for comment in comments %}
                        <li class="list-group-item" id="comment-{{ comment.id }}">
                            <div class="comment-container {% if comment.user == request.user %}right{% endif %}">
                                <div class="comment">
                                    <div class="comment-text">
                                        {% if comment.user.theprofile.profileimg %}
                                        <div class="d-flex align-items-center">
                                            <a href="/profile/{{ comment.user.username }}" class="me-2">
                                                <img src="{{ comment.user.theprofile.profileimg.url }}" class="rounded-circle" width="20px" height="20px"
                                                    alt="user_profile_pic">
                                            </a>
                                            <p class="mb-0">
                                                <strong>
                                                    <a href="/profile/{{ comment.user.username }}" class="text-decoration-none" id="user_comment_text">
                                                        @{{ comment.user.username }}
                                                    </a>
                                                    &nbsp;
                                                    <small class="text-secondary">
                                                        .{{ comment.date }}
                                                    </small>
                                                </strong>
                                            </p>
                                        </div>
                                        {% endif %}
                                        <p>{{ comment.text }}</p>
                                        {% if comment.user != request.user %}
                                        <a href="#" class="reply-link text-decoration-none"
                                            data-comment-id="{{ comment.id }}">Reply</a>
                                        {% endif %} 
                                        <p class="text-muted">Replies</p>
                                    </div>
                                    {% if comment.user == request.user %}
                                    <div class="comment-buttons">
                                        <form action="{% url 'delete_comment' comment.id %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                                {% for reply in comment.replies.all %}
                                <div class="reply" id="comment-{{ reply.id }}">
                                    <div class="comment-container {% if reply.user == request.user %}right{% endif %}">
                                        <div class="comment">
                                            <div class="comment-text">
                                                {% if reply.user.theprofile.profileimg %}
                                                <div class="d-flex align-items-center">
                                                    <a href="/profile/{{ reply.user.username }}" class="me-2">
                                                        <img src="{{ reply.user.theprofile.profileimg.url }}" class="rounded-circle" width="20px" height="20px"
                                                            alt="user_profile_pic">
                                                    </a>
                                                    <p class="mb-0">
                                                        <strong>
                                                            <a href="/profile/{{ reply.user.username }}" class="text-decoration-none" id="user_comment_text"></a> 
                                                                @{{ reply.user.username }}
                                                            </a>
                                                            &nbsp;
                                                            <small class="text-secondary">
                                                                .{{ reply.date }}
                                                            </small>
                                                        </strong>
                                                    </p>
                                                </div>
                                                {% endif %}
                                                <p>{{ reply.text }}</p>
                                                {% if reply.user != request.user %}
                                                <a href="#" class="reply-link text-decoration-none"
                                                    data-comment-id="{{ comment.id }}">Reply</a>
                                                {% endif %}    
                                            </div>
                                            {% if reply.user == request.user %}
                                            <div class="comment-buttons">
                                                <form action="{% url 'delete_comment' reply.id %}" method="post"
                                                    style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="add-comment mt-4 pb-3 mb-5">
                    <h4 class="text-left text-secondary">Add a Comment</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.text }}
                        </div>
                        <div class="text-center mt-2 mb-3">
                            <button type="submit" class="btn btn-secondary">Add Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "user_base.html" %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
     document.querySelectorAll('.reply-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            var commentId = event.target.getAttribute('data-comment-id');
            var formHtml = `
                <div class="reply-form">
                    <form action="" method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <textarea name="text" class="form-control reply-textarea"placeholder="Add a reply..." required></textarea>
                            <input type="hidden" name="parent" value="${commentId}">
                        </div>
                        <div class="button-group d-flex flex-column flex-md-row mt-2">
                            <button type="submit" class="btn btn-secondary mb-2 mb-md-0me-md-2">Reply</button>
                            <button type="button" class="btn btn-secondary cancel-reply">Cancel<button>
                        </div>
                    </form>
                </div>`
            ;
            var replyLink = event.target;
            replyLink.style.display = 'none';
            replyLink.insertAdjacentHTML('afterend', formHtml);
            document.querySelector('.cancel-reply').addEventListener('click', function () {
                this.closest('.reply-form').remove();
                replyLink.style.display = 'inline';
            });
        });
    });
    </script>
</body>

</html>